<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="active menu-item">
      <a>Basic layout</a>
    </li>
    <li class="menu-item">
      <a>Another layout</a>
    </li>
  </ul>
</nav>
