<table class="table table-bordered" *ngIf="data" #target>
  <thead>
  <tr>
    <th *ngFor="let fieldName of data.model">
      {{fieldName}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dataEntity of data.listing">
    <td *ngFor="let fieldName of data.model">
      {{dataEntity[fieldName]}}
    </td>
  </tr>
  </tbody>
</table>
